html {
    font-family: sans-serif
}

h1 {
    text-align: center;
}

button {
    width: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: xx-large;
    text-align: center;
}
.button {
    text-align: center;
}

p {
    font-size: large;
    margin-left: 5%;
    text-align: right;
    margin-right: 5%
}

.dropbtn {
    background-color: #000000;
    color: white;
    font-size: xx-large;
  }
  
  .dropdown {
    position: relative;
    display:block
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 25%;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 8% 12%;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #000000;}